/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'neat/neat';

$offer-layout-grid: (
  columns: 1,
  gutter: 2rem,
);

$offer-layout-grid--tablet-up: (
  columns: 12,
  gutter: 2rem,
  media: "(min-width: 981px)",
);

.offer_container {
    @include grid-container;
}

.offer_element {
    @include grid-column(1, $offer-layout-grid);
    margin-bottom: 2rem;
    background-color: #BBF;
    height: 10rem;

    @include grid-media($offer-layout-grid--tablet-up) {
        @include grid-column(4);
    }
}

.message {
    display: flex;
    flex-direction: column;
}

.message_text {
    text-align: center;
    font-size: 1.6em;
    height: 1.6em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}
